<style>

  .mainTable {
    width: 100%;
    border-style: solid;
    border-collapse: collapse;
  }

  .middleCustom {
    text-align: center;
  }
</style>

<div>


  <table style="height: 609px; width: 721px;">
    <tbody>
      <tr>
        <td style="width: 711px;">
          <table style="height: 555px; width: 703px; border-color: black; border-style: solid; border-collapse: collapse;" border="true">
            <tbody>
              <tr>
                <td style="width: 693px;">
                  <table style="height: 92px; width: 691px;">
                    <tbody>
                      <tr>
                        <td style="width: 214px;">&nbsp;</td>
                        <td style="width: 261px; text-align: center;"><strong>OM</strong></td>
                        <td style="width: 194px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 214px; text-align: left;">GST NO: 33AADFN4615R1ZZ</td>
                        <td style="width: 261px; text-align: center;">Subject to Chennai J<span data-dobid="hdw">urisdiction</span></td>
                        <td style="width: 194px; text-align: right;">Ph : 044-25351122</td>
                      </tr>
                      <tr style="border-color: black;">
                        <td style="width: 214px;">&nbsp;</td>
                        <td style="width: 261px; border-color: black; border-style: solid; text-align: center;"><strong>CASH/CREDIT BILL</strong></td>
                        <td style="width: 194px; text-align: right;">044-23465232</td>
                      </tr>
                      <tr>
                        <td style="width: 214px;">&nbsp;</td>
                        <td style="width: 261px;">&nbsp;</td>
                        <td style="width: 194px; text-align: right;">+91 8939309083</td>
                      </tr>
                      <tr>
                        <td style="width: 214px;">&nbsp;</td>
                        <td style="width: 261px;">&nbsp;</td>
                        <td style="width: 194px; text-align: right;">Shop : 8939309043</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  <table style="height: 72px; width: 691px;">
                    <tbody>
                      <tr style="height: 26px;">
                        <td style="width: 681px; height: 26px; text-align: center;"><strong>நேஷனல் மெட்டல் கார்ப்பரேஷன்<br /></strong></td>
                      </tr>
                      <tr style="height: 14.6px;">
                        <td style="width: 681px; height: 14.6px; text-align: center;"><span style="color: #ff0000;"><strong>NATIONAL METAL CORPORATION</strong></span></td>
                      </tr>
                      <tr style="height: 18px;">
                        <td style="width: 681px; text-align: center; height: 18px;">Manufactures of Staianless Steel Utensils</td>
                      </tr>
                      <tr style="height: 18px;">
                        <td style="width: 681px; text-align: center; height: 18px;">Old no.242, New No.501, Mint Street, (near Central) Park Town, Chennai - 600 003</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  &nbsp;<hr />
                  <table style="height: 164px; width: 691px;">
                    <tbody>
                      <tr>
                        <td style="width: 423.217px;">Invoice No : 010</td>
                        <td style="width: 245.783px; text-align: right;">Date : _____________</td>
                      </tr>
                      <tr>
                        <td style="width: 423.217px;">&nbsp;</td>
                        <td style="width: 245.783px; text-align: right;">No of Articles : _____________</td>
                      </tr>
                      <tr>
                        <td style="width: 423.217px;">Buyer : ______________________</td>
                        <td style="width: 245.783px;">Transport : _________________</td>
                      </tr>
                      <tr>
                        <td style="width: 423.217px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ______________________</td>
                        <td style="width: 245.783px;">Bank : Punjab National Bank</td>
                      </tr>
                      <tr>
                        <td style="width: 423.217px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ______________________</td>
                        <td style="width: 245.783px;">Bank A/c No : 1970002100013916</td>
                      </tr>
                      <tr>
                        <td style="width: 423.217px;">GST No : _____________________</td>
                        <td style="width: 245.783px;">Bank IFSC : PUNB0197000</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">&nbsp;<hr /></td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  &nbsp;
                  <table style="height: 263px; width: 681px; border-color: black; border-style: solid; border-collapse: collapse;" border="1">
                    <tbody>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;" rowspan="2">S.No.</td>
                        <td style="border-style: solid; border-color: black; width: 226px;" rowspan="2">Description of Goods</td>
                        <td style="border-style: solid; border-color: black; width: 50px;" rowspan="2">HSN/SAC</td>
                        <td style="border-style: solid; border-color: black; width: 47px;" rowspan="2">GST Rate</td>
                        <td style="border-style: solid; border-color: black; width: 41px;" rowspan="2">Qty.</td>
                        <td style="border-style: solid; border-color: black; width: 84px;" colspan="2">Weight</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;" rowspan="2">Rate</td>
                        <td style="border-style: solid; border-color: black; width: 88.4334px;" colspan="2">Amount</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 51px;">Kg</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">Grams</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">Rs.</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">P.</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px; text-align: left;">&nbsp;S.S. House Hold Untensils</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;7323</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px; text-align: right;">&nbsp;CGST %</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px; text-align: right;">&nbsp;SGST %</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px; text-align: right;">&nbsp;IGST %</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 226px; text-align: right;">&nbsp;TOTAL</td>
                        <td style="border-style: solid; border-color: black; width: 50px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 47px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 41px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 51px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 33px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 61.5667px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 65.4334px;">&nbsp;</td>
                        <td style="border-style: solid; border-color: black; width: 23px;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">&nbsp;Rupees :</td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  &nbsp;
                  <table style="height: 110px; border-collapse: collapse; border-color: black; border-style: solid;" width="683" border="1">
                    <tbody>
                      <tr>
                        <td style="border-color: black; border-style: solid;" rowspan="2">HSN/SAC</td>
                        <td style="border-color: black; border-style: solid;" colspan="2">Taxable Value</td>
                        <td style="border-color: black; border-style: solid;" colspan="2">Central Tax</td>
                        <td style="border-color: black; border-style: solid;" colspan="2">State Tax</td>
                        <td style="border-color: black; border-style: solid;" colspan="2">Inter State Tax</td>
                      </tr>
                      <tr>
                        <td style="border-color: black; border-style: solid;">Rs</td>
                        <td style="border-color: black; border-style: solid;">P</td>
                        <td style="border-color: black; border-style: solid;">Rate</td>
                        <td style="border-color: black; border-style: solid;">Amount</td>
                        <td style="border-color: black; border-style: solid;">Rate</td>
                        <td style="border-color: black; border-style: solid;">Amount</td>
                        <td style="border-color: black; border-style: solid;">Rate</td>
                        <td style="border-color: black; border-style: solid;">Amount</td>
                      </tr>
                      <tr>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                        <td style="border-color: black; border-style: solid;">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  <table style="height: 22px; width: 685px;">
                    <tbody>
                      <tr>
                        <td style="width: 485.267px;">&nbsp;Tax Rupees</td>
                        <td style="width: 181.733px;"><span style="color: #ff0000;">For National Corporation</span></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 693px;">&nbsp;Declaration :&nbsp;</td>
              </tr>
              <tr>
                <td style="width: 693px;">&nbsp;We declare that this invoice shows the actual prive of the</td>
              </tr>
              <tr>
                <td style="width: 693px;">
                  <table style="height: 22px; width: 683px;">
                    <tbody>
                      <tr>
                        <td style="width: 433.7px;">goods described and that all particulars are true and correct.</td>
                        <td style="width: 230.3px; text-align: center;">Authorised Signature</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</div>
